<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-categories-link">
                <a href="" class="dropdown-item">Detective and Noir</a>
                <a href="" class="dropdown-item">Love</a>
                <a href="" class="dropdown-item">Fantasy, Horror and Thriller</a>
                <a href="" class="dropdown-item">All Categories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="children-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Children
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="children-link">
                <a href="" class="dropdown-item">Books</a>
                <a href="" class="dropdown-item">Interactive books</a>
                <a href="" class="dropdown-item">Toys</a>
                <a href="" class="dropdown-item">All Categories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gift_ideas-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift ideas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift_ideas-link">
                <a href="" class="dropdown-item">Once in a Lifetime</a>
                <a href="" class="dropdown-item">Comics &amp; Graphic Novels</a>
                <a href="" class="dropdown-item">Hobbies and Leisure</a>
                <a href="" class="dropdown-item">All Ideas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>